@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')
	;

@import
	url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
	background-color: white;
	font-family: "Open Sans", sans-serif;
	padding: 5px 25px;
	font-size: 18px;
	margin: 0;
	color: #444;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

div {
	text-align: center;
}

body {
	text-align: center;
}

p {
	text-align: center;
}

li{
	text-align: center;
}

h1 {
	font-family: CoreCircus, sans-serif;
	text-transform: uppercase;
	font-size: 80px;
	text-align: center;
	line-height: 1;
	padding: 25px 0 50px;
	transform: translate(-50%, -50%);
	display: inline;
	color: #f98ca4;
	text-align: center;
	text-shadow: -1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58,
		1px 1px 0 #6e1f58, 1px 0 0 #65f283, 0 1px 0 #65f283, 2px 1px 0 #65f283,
		1px 2px 0 #65f283, 3px 2px 0 #65f283, 2px 3px 0 #65f283, 4px 3px 0
		#65f283, 3px 4px 0 #65f283, 5px 4px 0 #65f283, 3px 5px 0 #6e1f58, 6px
		5px 0 #6e1f58, -1px 2px 0 #000, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58,
		2px 5px 0 #6e1f58, 2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0
		#6e1f58, 5px 2px 0 #6e1f58, 6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58, 10px
		10px 4px #dac249;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
	font-size: 37px;
	font-weight: 500;
	letter-spacing: 35px;
	text-shadow: 89px -98px 14px rgba(176, 165, 25, 0);
	font-family: 'Dr+Sugiyama';
	color: rgb(77, 200, 230);
}